h1, h2, h3, h4, h5, h6 {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 2em;
	margin-top: 1em;
}

p {
	margin: 0;
	text-indent: 1.5em;
}

p.first {
	text-indent: 0;
}

div.intro {
	text-align: center;
}

div.intro p {
	text-indent: 0;
	margin-bottom: 1em;
	margin-top: 1em;
}
